{% extends 'base.html.twig' %}
{% block body %}
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.logo }}</li>
<h1>Your lucky number is </h1>
{% endblock %}
